@charset "UTF-8";
li {
  list-style: none;
}
.main .menu {
  float: left;
  padding-right: 10px;
  margin-left: 10px;
  background: #d3d3d3;
  height: 160px;
  width: 180px;
  border-radius: 5px;
}
.main .menu:hover {
  opacity: 0.7;
}
.main .new {
  margin-top: 5px;
  position: absolute;
  margin-left: 148px;
  user-select: none;
  background: #ff0000;
  width: 37px;
}

.main .img {
  margin-left: 0px;
  margin-top: 5px;
  text-align: center;
}
