@charset "UTF-8";
.link-table {
  width: 90%;
  margin: 30px auto 0;
}
  .link-left {
  text-align: center;
  width: 160px;
}
.link-left img {
  border: 1px solid #ccc;
}

.link-right {
  padding: 30px;
}
.link-right h3 {
  margin-top: 0;
}
.link-right p {
  margin-bottom: 10px;
}
small {
  font-size: 14px;
}
